.container {
}

/* Header section */
.header {
}

.brand-center {
	position: absolute;
	left: 40%;
	font-size: 50px;
}

/* Main content section */
img {
	max-width: 100%;
	max-height: 100%;
}

.culture-item img {
	max-height: 170px;
}

.main {
}
.first {
}
.second {
	background-color: mistyrose;
}

.third {
	background-color: lavender;
}

/* Sidebar */
.sidebar {
	background-color: orange;
}
.article-subsections {
	background-color: yellow;
}
.footer {
	background-color: purple;
}
