.container {
	background-color: lightblue;
}

/* Header section */
.header {
	background-color: blue;
	height: 100px;
}

.navbar-brand {
	position: absolute;
	left: 40%;
	font-size: 50px;
}

/* Main content section */
.main {
	background-color: green;
}
.first {
	background-color: red;
}
.second {
	background-color: mistyrose;
}

.third {
	background-color: lavender;
}

/* Sidebar */
.sidebar {
	background-color: orange;
}
.article-subsections {
	background-color: yellow;
}
.footer {
	background-color: purple;
}
